In [0]:
--Tranforming and Loading into dept_avg_salary Table
MERGE INTO dept_avg_salary t
USING(
  SELECT Department,AVG(salary) as avg_salary
  FROM employees_clean
  GROUP BY Department
)s
ON t.Department = s.Department
WHEN MATCHED AND (t.avg_salary<>s.avg_salary) THEN
  UPDATE SET
    t.avg_salary = s.avg_salary

WHEN NOT MATCHED THEN
  INSERT (Department,avg_salary)
  VALUES (s.Department,s.avg_salary);

In [0]:
--Tranforming and Loading into employees_salary_category Table
MERGE INTO employees_salary_category t
USING(
  SELECT *,
  CASE WHEN salary >= 90000 THEN 'High'
       WHEN salary >= 50000 THEN 'Medium'
       ELSE 'Low'
       END AS Salary_Category
  FROM employees_clean
  
)s
ON t.EmployeeID = s.EmployeeID

WHEN MATCHED AND (
    t.Name <> s.Name OR
    t.Department <> s.Department OR
    t.Role <> s.Role OR
    t.Salary <> s.Salary OR
    t.Experience <> s.Experience OR
    t.Location <> s.Location OR
    t.Salary_Category <> s.Salary_Category)
THEN
  UPDATE SET
    t.Name = s.Name,
    t.Department = s.Department,
    t.Role = s.Role,
    t.Salary = s.Salary,
    t.Experience = s.Experience,
    t.Location = s.Location = s.Department,
    t.Salary_Category = s.Salary_Category

WHEN NOT MATCHED THEN
  INSERT (EmployeeID,Name,Department,Role,Salary,Experience,Location,Salary_Category)
  VALUES (s.EmployeeID,s.Name,s.Department,s.Role,s.Salary,s.Experience,s.Location,s.Salary_Category);